body{
    background-color: grey;
}
header{
    padding: 10px;
    text-align: center;
}
nav{
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    padding: 45px;

}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: gray;
}